.active {
    color: red;
    font-weight: bold;
}

.named-scope {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
}

.named-scope .bottom {
    display: flex;
}

.named-scope .top {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}

.named-scope .left {
    height: 160px;
    width: 100px;
    border-right: 1px solid #ccc;
}

.named-scope .right {
    width: 300px;
    height: 160px;
    text-align: center;
    line-height: 160px;
}